iframe > html > body.body_widget_discussion {
    background: rgba(0, 0, 0, 0) !important;
}

[id^='telegram-discussion'] {
    margin-top: -40px;
    margin-left: 130px !important;
    margin-bottom: var(--globalMarginValue);
    width: 35%;
    display: block;
    z-index: 100 !important;
    background-color: transparent; 
    /* border: 1px solid white !important; */
    border-radius: 5px;
}

#Chat {
    overflow: scroll;
    /* padding: var(--globalMarginValue);*/
}


body.dark.body_widget_discussion{
    background: rgba(0, 0, 0, 0) !important;

}

@media screen and (max-width: 1024px) {
    [id^='telegram-discussion'] {
        width: 75%;
        margin-left: 90px !important;

    }
}