<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /palestine/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /palestine/index.html [L]
</IfModule>