.backgroundDiv{
    z-index: -1;
    /* background-repeat: no-repeat;
    background-size: 100%; */

    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    background-color: #150f14;
}

.reactVideoPlayerCoverUp{
    z-index: -999;
    /* background:rgba(255, 0, 0, 0.39); */
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.reactVideoPlayerComponent{
    z-index: -1000;
    height: 100% !important;
    width: 100% !important;
    background:black;
    position:absolute;
    top:0px;
    bottom:0px;
    overflow: hidden;
}

.reactVideoPlayerComponent div{
    height: 100% !important;
    width: auto !important;
}
.reactVideoPlayerComponent div iframe{
    /* height: 115vh !important;
    width: 115vw !important;
    margin-top: -10vh;
    margin-left: -10vh; */

    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}





