.backgroundDiv{
    z-index: -1;
    /* background-repeat: no-repeat;
    background-size: 100%; */

    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.reactVideoPlayerCoverUp{
    z-index: -999;
    /* background:rgba(255, 0, 0, 0.39); */
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.reactVideoPlayerComponent{
    z-index: -1000;
    height: 100% !important;
    width: 100% !important;
    background:black;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.reactVideoPlayerComponent div{
    height: 100% !important;
    width: auto !important;
}
.reactVideoPlayerComponent div iframe{
    height: 115vh !important;
    width: 115vw !important;
    margin-top: -10vh;
    margin-left: -10vh;
}





